.about__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: #add0ef;
  padding: 2rem;
  margin-bottom: 100px;
}

.about h6, .about__intro h6{
  font-size: 1.5rem;
}

.about__intro p {
  width: 600px;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.1rem;
}

.about p{
  line-height: 1.8rem;
  text-align: justify;
  font-size: 1rem;
}

.about__background-image{
  height: 230px;
}

.about__chef-image{
  height: 330px;
  width: 420px;
}

.about__contact-image{
  width: 250px;
}

.contact__details-div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__details-div span{
  font-size: 1.2rem;
}

.contact__details-div span i{
  margin-right: 20px;
  font-weight: 600;
}

.newsletter{
  margin: 5px 0 -8px 0 !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
}

.newsletter__wrap{
  padding: 7px;
  border: 1px solid #33548A;
  width: fit-content;
  border-radius: 5px;
  margin-top: 0;
}

.newsletter__wrap input{
  border: none;
  padding: 5px;
  font-size: 1.1rem;
  width: 19rem;
  outline: none;
}
