.cartOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000003e;
  z-index: 99999;
}

.cartWrap{
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: #EAEDF3;
  z-index: 999999;
}

.close-icon__wrap{
  width: 100%;
  height: 60px;
  padding: 10px 20px;
}

.close-icon__wrap i{
  font-size: 1.9rem;
  cursor: pointer;
}

.checkout__div_wrap{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #33548A;
  color: #EAEDF3;
  font-size: 1.15rem;
  font-family: "Istok Web", sans-serif;
}

.cart_cartItems-wrap{
  margin-top: 2rem;
  padding: 0 19px;
}

.cart_cartItems-wrap .initial_message{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}