.contact__header{
  font-size: 2rem;
}

.contact__desc{
  font-size: 1.5rem;
}

.contact__inputs input, .contact__inputs textarea{
  width: 70%;
  border-radius: 10px;
  border: 1px solid #33548A;
  color: #33548A;
  font-weight: 500;
  background-color: #cbced3;
  padding: .8rem 1.1rem;
  font-size: 1.2rem;
  outline: none;
  resize: none;
}
