.foods__category-wrap {
  width: 100%;
  height: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  background: #add0ef;
}

.foods__category-wrap div {
  width: 100%;
  height: 50px;
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0 35px;
  cursor: pointer;
  transition: 0.9s;
}

.foods__category-wrap div:hover {
  background: #93b8d9;
}

.active__kind {
  border-right: 10px solid #33548a;
  background: #93b8d9;
}

.foods__title {
  font-size: 1.8rem;
}

.foods__intro {
  font-size: 1.3rem;
}

.foods__intro span {
  color: #ff2626;
}

.customize__foods__inputs {
  border: 2px solid #33548a;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
  color: #33548a;
  font-family: "Istok Web", sans-serif;
}

.customize__foods__input {
  width: 340px;
  height: 50px;
}

.hidden {
  display: none;
}

.show {
  display: block;
  animation-duration: 0.9s;
  animation-name: appear;
  animation-iteration-count: 1;
  transition: 0.5s;
}

.show:nth-child(2){
  transition-delay: 500ms;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.userInputData p {
  font-weight: 500;
  text-align: center;
  width: 420px;
}

.userInputData p span {
  font-weight: 600;
  margin-left: 1rem;
  color: #33548A;
}
