header{
  width: 100%;
  height: 100px;
  line-height: 100px;
  padding: 0 130px;
}

.nav{
  height: 100%;
  width: 100%;
}

.logo{
  text-align: center;
  width: 6.4rem;
  cursor: pointer;
  margin-top: -50px;
}

.logo img{
  margin-bottom: 0;
  width: calc(100% - 60%);
  object-fit: contain;
}

.logo h5{
  margin-bottom: 0;
  margin-top: -55px;
  font-size: 0.8rem;
}

.left__navbar a{
  color: #33548A;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.3s;
}

.left__navbar a:hover{
  color: #ff2626;
}

.cart{
  position: relative;
  cursor: pointer;
}

.cart i, .user i, .mobile__menu__icon i{
  font-size: 1.2rem;
  color: #33548A;
}

.mobile__menu__icon{
  display: none;
  cursor: pointer;
}

.cart span{
  position: absolute;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff2626;
  color: #f3f5f8;
  border-radius: 50%;
  top: 25px;
  right: -15px;
  font-size: 1rem;
  font-weight: 500;
}

.active__nav{
  color: #ff2626 !important;
}

.header__fix{
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 88888;
  box-sizing: 5px 5px 15px -5px #EAEDF3;
}

@media only screen and (max-width: 990px) {
  header{
    padding: 0 100px;
  }
  .mobile__menu__icon{
    display: block;
  }

  .navigate{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000d2225;
    z-index: 9999999;
  }

  .left__navbar{
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: #EAEDF3;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 20px;
    width: 50%;
    height: 100%;
    /* gap: 3rem !important; */
    z-index: 100;
  }

  .show__menu{
    display: block;
  }
}

@media only screen and (max-width: 575px){
  header{
    padding: 20px;
  }
}