.wws__intro h5{
  color: #ff2626;
}

.wws__intro-para{
  font-size: 2.5rem;
  font-family: "RocknRoll One", sans-serif !important;
  color: #33548A;
}

.wws__intro-para span{
  color: #ff2626;
}

.wws__desc{
  color: #789DC9;
}

.wws__content{
  flex-direction: column;
  justify-content: center;
}

.wws__content img{
  width: 100px;
}

@media only screen and (max-width: 575px) {
  .wws__intro h5{
    font-size: 1.1rem;
  }

  .wws__intro-para{
    font-size: 2rem;
  }

  .wws__desc{
    font-size: 0.7rem;
  }

  .wws__content h5{
    font-size: 1.1rem;
  }

  .wws__content p{
    font-size: 0.7rem;
  }
}