/* :root{
  primary-color: #33548A;
  secondary-color: #ff2626;
  other: #789DC9
  other2: #ADD0EF;
  main: #EAEDF3;
} */

div{
  color: #e73232;
  background: #5a7baf;
}


                        
                        