@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none !important;
}

body {
  font-family: "Istok Web", sans-serif;
  background: #eaedf3;
  overflow-x: hidden !important;
}

section {
  margin-bottom: 100px;
}

p {
  font-family: "Istok Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif !important;
  color: #33548a;
}

h1,
h2 {
  font-weight: 600;
  font-size: 2.1rem;
}

@media only screen and (max-width: 9px) {
  h1,h2{
    font-size: 1.5rem;
  }
}
