@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none !important;
}

body {
  font-family: "Istok Web", sans-serif;
  background: #EAEDF3;
  overflow-x: hidden;
}

section{
  margin: 100px 110px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RocknRoll One", sans-serif !important;
  color: #33548A;
}

h1,
h2 {
  font-weight: 600;
  font-size: 2.1rem;
}
